# Our target directory.
target
# Where our cross compiled binaries will go.
cross
# For the ci when we cross compile.
osxcross
# Where our generated docs will go.
generated_docs
# While running release github actions.
releases
