on:
  push:
    tags:
      - v*
name: make-release
jobs:
  makerelease:
    name: make-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0.4.3'
        with:
          credentials_json: '${{ secrets.GOOGLE_CLOUD_DL_SA }}'
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.3.0
        with:
          project_id: oxide-downloads
      - name: make release
        shell: bash
        run: |
          make release
      - name: move files to dir for upload
        shell: bash
        run: |
          mkdir -p releases/$(basename $(pwd))
          cp -r cross releases/$(basename $(pwd))/$(cat VERSION.txt)
      - name: 'upload binary files'
        id: upload-files
        uses: google-github-actions/upload-cloud-storage@v0.5.0
        with:
          path: releases
          destination: dl.oxide.computer
      - name: Create a Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: ${{github.workspace}}/cross/README.md

